{% extends '_base.html.twig' %}

{% block pageTitle %}{{ title }}{% endblock %}

{% block main %}
    <h1>
        WELCOME TO YOUR ACCOUNT!
    </h1>
    <hr color="black">
    {{ worked }}
    {% if position == 3 %}

        <fieldset class="registerFieldset">
            <form id="jobForm" method="post" action="/jobForm">
                <h1>Enter job information</h1>
                <input type="text" name="company" placeholder="COMPANY" required>
                <br>
                <br>
                <input type="text" name="position" placeholder="POSITION">
                <br>
                <br>
                <textarea name="description" id="jobDescTextArea" placeholder="DESCRIPTION" required></textarea>
                <br>
                <br>
                <input type="date" name="date" required> <input type="time" name="time" required>
                <br>
                <br>
                <input type="submit" value="Submit Job">
            </form>
        </fieldset>

        <hr>
        <h3>Available jobs</h3>
        {% for job in jobs %}
            <table id="viewJobsTable" align="center" id="viewJobsTable" border="1px">
        <tr>
            <th> Company </th>
            <th> Title </th>
            <th> Description </th>
            <th> Deadline </th>
        </tr>

            <tr>
                <td> {{ job.company }} </td>
                <td> {{ job.title }} </td>
                <td> {{ job.description }} </td>
                <td> {{ job.deadline }} </td>
                <td>
                        <form action="/deleteJob" method="post">
                            <input type="submit" value="Delete Job">
                            <input type="hidden" value="{{ job.id }}" name="id">
                        </form>
                </td>
            </tr>
        </table>
        <br>
        <br>
        {% else %}
            There are no jobs
            <br>
            <br>
        {% endfor %}

    {% elseif position == 1 %}

    {% else %}

    {% endif %}
{% endblock %}