{% extends '_base.html.twig' %}

{% block pageTitle %}{{ title }}{% endblock %}

{% block main %}
    <h1>
        All JOBS!
    </h1>
    <hr color="black">

    <table id="viewJobsTable" align="center" id="viewJobsTable" border="1px">
    <tr>
        <th> Company </th>
        <th> Title </th>
        <th> Description </th>
        <th> Deadline </th>
    </tr>
    {% for job in jobs %}
            <tr>
                <td> {{ job.company }} </td>
                <td> {{ job.title }} </td>
                <td> {{ job.description }} </td>
                <td> {{ job.deadline }} </td>
                <td>
                    {% if position == 1 %}
                    <form action="/apply/{{ job.id }}" method="post">
                        <input type="submit" value="Apply">
                    </form>
                    {% else %}

                    {% endif %}
                </td>
            </tr>
    {% else %}
        There are no jobs
    {% endfor %}
    </table>
{% endblock %}